<?php
  $variables = [
      'HOST' => 'http://some.url.com:1234/',
      'LOGIN_USERNAME' => 'username',
      'LOGIN_PASSWORD' => 'password',
      'LOCAL_PASSWORD' => 'localpassword'
  ];

  foreach ($variables as $key => $value) {
      putenv("$key=$value");
  }
?>
