<?php
  $variables = [
      'HOST' => 'http://some.url.com:1234/_users/org.couchdb.user:',
      'LOGIN_USERNAME' => 'username',
      'LOGIN_PASSWORD' => 'password',
      'LOCAL_PASSWORD' => 'localpassword'
  ];

  foreach ($variables as $key => $value) {
      putenv("$key=$value");
  }
?>

